@model IEnumerable<EnrollmentApplication.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-default">
    <div class="panel-heading">Search Panel</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("StudentSearch", "Enrollment", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "searchFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "searchresults",
        }))
        {
            <input type="text" name="q" />
            <input type="submit" value="Search by Student" />
            <img id="ajax-loader" src="@Url.Content("~/Images/ajax-loader.gif")" style="display:none" />
        }
        @using (Ajax.BeginForm("CourseSearch", "Enrollment", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "searchFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "searchresults",
        }))
        {
            <input type="text" name="q" />
            <input type="submit" value="Search by Course" />
            <img id="ajax-loader" src="@Url.Content("~/Images/ajax-loader.gif")" style="display:none" />
        }
        <div id="searchresults"></div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentLastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentLastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID })
            </td>
        </tr>
    }

</table>


@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Apps/StudentScripts.js"></script>
}