@model FinalProject_JasonHuber.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
